<main role="main" class="container">
    <div class="jumbotron">
      <br><br>
        <h1> Welcome to Search!</h1>
        <div class="box">
          <br><br><h1>Search</h1>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <br> <mat-label>Symbols</mat-label>
              <input type="text"
                     placeholder="Search"
                     aria-label="Symbols"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngIf="isLoading" class="is-loading">
                  Loading...
                </mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let movie of filteredSymbols" [value]="Symbol?.toString">
                    <span><b>{{Symbol?.toString}}</b> </span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          
          </div>

    </div>
</main>

