<main role="main" class="container">
    <div class="jumbotron">
        <h1> Welcome to Search!</h1>
        <div class="box">
          <h1>Search</h1>
          <form (ngSubmit)="onSubmit()">

          <input  type="text"
          id="txtsearch"
          class="form-control"
          name="txtsearch"
          placeholder="txtsearch"
          autocomplete="off"
          [(ngModel)] = "txtsearch"
          required  >
          <input type="submit" value="Search" >
         
        </form>
          </div>

    </div>
</main>

