.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-size: cover ; */
    font-family: sans-serif;
    
    
   }


.example-form {
  min-width: 50px;
  max-width:300px;
  width: 80%;
 
}

.example-full-width {
  width: 80%;
  height: 5%;
  /* background-color: aqua; */
  cursor: pointer;
}
.form-control-sm {
  height: calc(2em + 1.5rem + 6px);
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  line-height: 1;
  border-radius: 5px;}