<main role="main" class="container">
    <div class="jumbotron">
      <br><br>
        <div class="box">
          <h1>Search</h1>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <br> <mat-label>Symbols</mat-label>
              <input type="text"
                     placeholder="Search"
                     aria-label="Symbols"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngIf="isLoading" class="is-loading">
                  Loading...
                </mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option (click)="OnHumanSelected()" *ngFor="let symbol of result" [value]="symbol?.isin">
                    <span><b>{{symbol?.title}}</b> </span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          
          </div>

    </div>
</main>

