<div class="container">
    <p> بازدهی سهام </p>
    <hr>

    <table style="width:100%; direction: rtl;">
      <tr> 
        <th></th>
        <th> هفته</th>
        <th> ماه</th>
        <th> سال</th>
        
      </tr>
      <tr>
        <th>سهم</th>
        <td>{{result?.symbol?.week}}</td>
        <td>{{result?.symbol?.month}}</td>
        <td>{{result?.symbol?.year}}</td><br>
      </tr>
      <tr>
        <th>گروه</th>
        <td>{{result?.sector?.week}}</td>
        <td>{{result?.sector?.month}}</td>
        <td>{{result?.sector?.year}}</td><br>
      </tr>
      <tr>
        <th>بازار</th>
        <td>{{result?.index?.week}}</td>
        <td>{{result?.index?.month}}</td>
        <td>{{result?.index?.year}}</td><br>
      </tr>
    </table>


</div>
