<div class="container">
    <p> بازدهی سهام </p>
    <hr>

    <table style="width:100%; direction: rtl;">
      <tr> 
        <th></th>
        <th> هفته</th>
        <th> ماه</th>
        <th> سال</th>
        
      </tr>
      <tr>
        <th>سهم</th>
        <td>{{result?.symbol?.week | number}}</td>
        <td>{{result?.symbol?.month | number}}</td>
        <td>{{result?.symbol?.year | number}}</td><br>
      </tr>
      <tr>
        <th>گروه</th>
        <td>{{result?.sector?.week | number}}</td>
        <td>{{result?.sector?.month | number}}</td>
        <td>{{result?.sector?.year | number}}</td><br>
      </tr>
      <tr>
        <th>بازار</th>
        <td>{{result?.index?.week | number}}</td>
        <td>{{result?.index?.month | number}}</td>
        <td>{{result?.index?.year | number}}</td><br>
      </tr>
    </table>


</div>
