<div class="section">
    <h5>شرکت بورس اوراق بهادار ایران</h5>
    <p>فعاليتهاي كمكي به نهادهاي مالي واسط</p>
     
    <div [ngClass]="{'limitTextHeight': isReadMore}">
           <div class="p2" >شرکت بورس اوراق بهادار تهران در سال 1384 تاسیس شد. زمینه فعالیت اصلی شرکت بورس بعنوان یکی از ارکان های اساسی بازار سرمایه، ایجاد محیطی امن، شفاف و کارا برای پذیرش و داد و ستد انواع اوراق مالکیت، صندوق های مشترک سرمایه گذاری، ابزار مشتقه، اوراق بدهی و ... می باشد. عمده محل درآمد زایی بورس درامد حاصل از کارمزد معاملات، درآمد حاصل از ارائه خدمات به کارگزاران، درآمد حق پذیرش و حق درج، درآمد اجاره دفاتر کارگزاران و ... می باشد. از شرکت های وابسته به بورس می توان به شرکت فرابورس ایران، گروه مدیریت دارایی مرکزی و شرکت مرکز مالی ایران اشاره کرد.
               <button mat-button type="button" (click)="showText()">
            {{ isReadMore ? 'Read More': 'Read Less' }}
          </button>
          <br> بورس در گروه فعاليتهاي كمكي
                به نهادهاي مالي واسط قرار دارد و یکی از شرکت های اصلی و بزرگ این گروه است.
      </div>   
</div>
    <app-search></app-search>
    <app-desc-company></app-desc-company>
</div>

